<h1>Saved Item will show here!</h1>

<p>
	Name: <%= @test.name %>
</p>
<p>
	Description: <%= @test.description %>
</p>

<%= link_to "Edit this Item", edit_test_path(@test)%> |
<%= link_to "List all Items", tests_path%>